In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb

In [4]:
df = pd.read_csv('Datasets/penguins.csv')

In [5]:
df.head()

,Unnamed: 0,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,1,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,2007-11-11,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,2,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,2007-11-11,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,3,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,2007-11-16,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,4,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,2007-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,5,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,2007-11-16,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [6]:
df.describe()

,Unnamed: 0,Sample Number,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo)
count,344.000000,344.000000,342.000000,342.000000,342.000000,342.000000,330.000000,331.000000
mean,172.500000,63.151163,43.921930,17.151170,200.915205,4201.754386,8.733382,-25.686292
std,99.448479,40.430199,5.459584,1.974793,14.061714,801.954536,0.551770,0.793961
min,1.000000,1.000000,32.100000,13.100000,172.000000,2700.000000,7.632200,-27.018540
25%,86.750000,29.000000,39.225000,15.600000,190.000000,3550.000000,8.299890,-26.320305
50%,172.500000,58.000000,44.450000,17.300000,197.000000,4050.000000,8.652405,-25.833520
75%,258.250000,95.250000,48.500000,18.700000,213.000000,4750.000000,9.172123,-25.062050
max,344.000000,152.000000,59.600000,21.500000,231.000000,6300.000000,10.025440,-23.787670

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           344 non-null    int64
 1   studyName            344 non-null    object
 2   Sample Number        344 non-null    int64
 3   Species              344 non-null    object
 4   Region               344 non-null    object
 5   Island               344 non-null    object
 6   Stage                344 non-null    object
 7   Individual ID        344 non-null    object
 8   Clutch Completion    344 non-null    object
 9   Date Egg             344 non-null    object
 10  Culmen Length (mm)   342 non-null    float64
 11  Culmen Depth (mm)    342 non-null    float64
 12  Flipper Length (mm)  342 non-null    float64
 13  Body Mass (g)        342 non-null    float64
 14  Sex                  333 non-null    object
 15  Delta 15 N (o/oo)    330 non-null    float64
 16  Delta 13 C (o/oo)    331 non-null    float64
 17  Comments             54 non-null     object
dtypes: float64(6), int64(2), object(10)
memory usage: 48.5+ KB

In [9]:
df.isna().sum()

Unnamed: 0               0
studyName                0
Sample Number            0
Species                  0
Region                   0
Island                   0
Stage                    0
Individual ID            0
Clutch Completion        0
Date Egg                 0
Culmen Length (mm)       2
Culmen Depth (mm)        2
Flipper Length (mm)      2
Body Mass (g)            2
Sex                     11
Delta 15 N (o/oo)       14
Delta 13 C (o/oo)       13
Comments               290
dtype: int64

In [10]:
df.drop('Comments', axis=1, inplace=True)